root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java, kt, kts, groovy, scala, c, cpp, cs, lua, py, sql, txt, md}]
indent_size = 4

[*.{txt, md}]
max_line_length = off
insert_final_newline = false
trim_trailing_whitespace = false
